/*form*/
.principal01{
  display: flex;
  width: 80%;
  margin: auto;
}
.informacao_de_contato{
  width: 50%;
  margin: 50px 50px 50px 0;
  border: 1px solid gray;
  box-shadow: 7px 9px 3px gray;
  color: #272727;
}

li{
  font-size: 30px;
  margin-top: 30px;
  margin-left: 40px;
  color: #272727;
}

.titulo_da_secao{
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
}

/* Chrome e outros */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
