@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  background-color: #272727;
  /* color:#dccea8; */
  color: goldenrod;
}

/*Cabeçalho*/
header {
  width: 96%;
  margin-left: 30px;
  margin-right: 30px;
  color: goldenrod;
}

header a {
  text-decoration: none;
  color: greenyellow;
  font-weight: 500;
  transition: 0.75s;
}

header a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.nav {
  display: flex;
  justify-content: center;
}
.account {
  display: flex;
  justify-content: end;
  padding: 15px;
}

.signout {
  margin-left: 10px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slogan {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

main {
  border-radius: 20px;
  max-width: 100%;
  margin: 2rem auto;
  background: #dccea8;
  color: #272727;
}

/* Rodapé */
.rodape {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #dccea8;
  color: #dccea8;
}

.rodape a {
  text-decoration: none;
  color: #dccea8;
  font-weight: bold;
}

.copyrt {
  justify-content: center;
  text-align: center;
}
.map {
  height: 230px;
  margin: 10px;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redes-sociais a {
  padding: 1rem;
  text-decoration: none;
}

.redes-sociais span {
  margin: 1rem;
}
