@import url(https://fonts.google.com/share?selection.family=Inter:wght@200);
body {
    display: block;
    margin: 3%;
    background-color: #272727;
    font-family: "Inter", serif;
    border: 2px solid goldenrod;
    color:#dccea8;
}

                /*cabeçalho*/

header {
    width: 96%;
    margin-left: 30px;
    margin-right: 30px;
    color: goldenrod;
}

header a {
    text-decoration: none;
    color: greenyellow;
    font-weight: 900;
}
main {
    margin-top: 150px;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: center;
}

.account {
    display: flex;
    justify-content: end;
    padding: 15px;
}

.signout {
    margin-left: 10px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slogan {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

                    /*artigo01*/

.art_01 {
    display: flex;
    width: 96%;
    margin: 50px;
    margin-top: 100px;
}

.sub01 img {
    font-size: 20px;
    width: 85%;
    border: 2px solid #f3cb7477;
}

.text {
    width: 100%;
    padding: 30px;
    padding-top: 100px;
}

                    /*artigo02*/

.title_acomodacoes {
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}

.maisPopulares{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 90vw;
    margin: auto;
    padding: 2rem 0;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight:bold;
}

.card img{
    width: 25vw;
    height: 200px;
}

                    /*artigo03*/
.art_02 {
    display: flex;
    width: 96%;
    margin: 50px;
    margin-top: 100px;
}                    

.imagem img{
    font-size: 20px;
    width: 95%;
    border: 2px solid #f3cb7477;
}

                    /*footer*/
.rodape{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #dccea8
}

.rodape a{
    text-decoration: none;
    color: #dccea8;
    font-weight: bold;
}

.map {
    width: 60%;
    margin: 50px
}

.help {
    margin-right: 20px;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-top: 20px;
    margin-right: 250px;
}

.redes-sociais a{
    padding:1rem;
    text-decoration: none;
}

.redes-sociais span{
    margin:1rem;
}

.copyrt {
    margin-left: 120px;
    padding-top: 40px
}

.links {
    display: block;
    padding: 10px;

}


