.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #dccea8;
    margin: 80px 0;
    padding: 30px;  
    border: 2px solid #101828;
    border-radius: 5px;
}

.card a {
  text-align: left;
  font-size: 18px;
  color: #101828;
  padding-bottom: 10px;
  text-decoration: none;
}

.logo {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 5%;
}

.title {
  width: 50px;
}

.title-img {
  width: 50px;
}

.card-content {
  padding: 30px;
  /* background-color: #dccea8; */
  border: 2px solid #101828;
  border-radius: 5px;
}

.card-content label {
  font-weight: 600;
  color: #101828;
  font-size: 15px;
}

.card-content-area {
  display: flex;
  flex-direction: column;
}

.card-content-area input {
  background-color: rgb(255, 255, 255);
  margin-top: 5px;
  margin-bottom: 15px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #101828;
  color: #101828;
}

.card-button {
  display: flex;
  flex-direction: column;
}

.card-button .submit a {
  text-decoration: none;
  color: #101828;
}

.card-button .submit {
  height: 40px;
  background-color: #fff;
  border: 1px solid #101828;
  border-radius: 5px;
  color: #101828;
  margin: 10px 0;
  cursor: pointer;
}

.button {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.button a {
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    color: #101828;
    text-decoration: none;
    margin-bottom: 10px;
    transition: .5s;
}

.button a:hover {
  color: #6d695b;
  transition: 0.5s;
}

.submit a {
    padding: 10px 80px 10px 80px;
}

.login-outros {
  width: 100%;
}

.login-outros h4 {
  font-weight: 400;
  padding: 5px;
  margin: 10px 0 10px 0;
  border-top: 1px solid #101828;
  border-bottom: 1px solid #101828;
  text-align: center;
}

.login-outros div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.login-social {
  display: flex;
  justify-content: space-evenly;
}

.login-social input {
    padding-top: 20px;
    cursor: pointer;
    width: 30px;
    text-align: center;
    justify-content: center;
}

