/* INICIO RESUMO RESERVA - HONORATO */
.conteudo-reservas {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resumo-reservas {
  margin: 80px;
  padding: 80px 40px;
  width: 60%;
  border: 2px solid #272727;
}


.resumo-reservas p {
  padding-bottom: 30px;
}

.resumo-reservas div {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 2px solid #272727;
  background-color: #dccea8;
}

.resumo-reservas span {
  padding: 10px 0;
}

.resumo-reservas a {
  padding: 20px 0;
  text-decoration: none;
  color: #272727;
  transition: .5s;
}

.resumo-reservas a:hover {
  opacity: 0.5;
  transition: .5s;
}

.resumo-reservas button {
  width: 100%;
  margin-top:30px;
  padding: 12px 20px;
  background-color: #dccea8;
  border: 1px solid #272727;
  border-radius: 4px;
  cursor: pointer;
  transition: .5s;
}

.resumo-reservas button:hover {
  background-color: #6d695b;
  color: #272727;
  transition: .5s;
}

.opcoes-acomodacoes img {
  width: 100%;
}

/* FINAL RESUMO RESERVA - HONORATO */

.container {
  width: 90%;
  margin: 0 auto;
}

/* ÍNICIO ESTILOS SEÇÃO FORMULÁRIO DE RESERVAS */
.title-reserva {
  padding: 50px 0 30px 0;
  font-size: 2rem;
  color: #272727;
}

.form-reserva {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  color: #272727;
}

.field-form-reserva {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.field-form-reserva label {
  font-size: 1.2rem;
  font-weight: 900;
}

.field-form-reserva input[type="date"],
.field-form-reserva input[type="number"] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.field-form-reserva label {
  padding-bottom: 0.7rem;
}
/* FIM ESTILOS SEÇÃO FORMULÁRIO DE RESERVAS */

/* INICIO ESTILO OPCOES RESERVA */
.opcoes-acomodacoes p {
    font-size:1.25rem;
    margin:1rem 0;
}
.opcao{
    margin-bottom: 1.25rem;
}
.opcao-titulo{
    font-weight:700;
    margin-top: 1rem;
}
.opcao-imagem{
    width: 100%;
}
.opcao-descricao{
    display: block;
    margin: 1rem 0;
}
.opcao-preco{
    font-weight:600;
}
/* FIM ESTILO OPCOES RESERVA */
/* RESPONSIVIDADE */

@media screen and (max-width: 950px) {
  .container {
    margin: 20px;
    width: 95%;
  }

  .opcoes-acomodacoes img {
    width: 100%;
  }
}


/* TABLET */

@media screen and (max-width: 824px) {
  .conteudo-reservas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .opcoes-acomodacoes {
    width: 85%;
  }

  .container {
    padding: 10px;
  }
}
