.principal {
  border: 1px solid goldenrod;
  max-width: 100%;
  margin: 2rem auto 0 auto;
  background: antiquewhite;
  color: #272727;
}
.sobre_nos {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
}

.conteudo {
  display: flex;
  margin: auto;
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
}
.conteudo img {
  height: 40vh;
  margin: 1rem;
  border: 1px solid goldenrod;
}

.conteudo p {
  text-align: left;
  font-weight: 600;
}

.maisPopulares {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding: 2rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
}

.card img {
  width: 25vw;
  height: 200px;
  border: 1px solid goldenrod;
}

.card span {
  padding: 1rem;
}
