@use "variaveis" as v;
@use "mixins" as mx;
@use "header";
@use "footer";

.principal{
    color: v.$p;
    background: v.$backgroud;
    margin-top: 11vh;
    text-align: center;
    font-family: v.$fonte;
    display: flex;
    flex-direction: column;

    & h2{
        color: v.$h2;
        font-size: 1.5rem;
        padding-top:1rem;
    }
}
.container{
    @include mx.acomodacoes-container-fluid;
    flex-wrap: wrap;

    & article {
        width: 25%;
        margin: 1rem;
    }
}

.produto_destaque{
    border:2px solid v.$navBackgroud;
    margin: 1rem;
    

    & p {
        width: 60%;
        text-align: justify;
        margin: 1rem auto;
    }

    & .quarto_destaque{
        width: 60%;
    }

    & figcaption{
        margin: 1rem;
    }
}