@use "variaveis" as v;
@use "mixins" as mx;

//Seção Header e Footer
@import "header";
@import "footer";

//SEÇÃO CONTATOS

main {
    width: 100%;
    height: 71vh;
    background: v.$backgroud;
}

/*form*/
.contato {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 2%;
}

.informacao_de_contato {
    width: 50%;
    margin: 50px 50px 50px 0;
    align-items: center;
    border: 1px solid v.$navBackgroud;
    box-shadow: 7px 9px 3px v.$navBackgroud;
    color: v.$p;
}

legend {
    text-align: center;
}

.info {
    margin-top: 10px;
    margin-left: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 15% 5%;
}

.contato ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info ul li {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.informacao_de_contato {
    & ul {
        & li {
            width: 100%;
            font-weight: 700;
            font-size: 1rem;
            color: v.$p;
            text-transform: uppercase;
        }
    }

    & input {
        width: 90%;
        margin-top: 10px;
        padding: 20px 0;
        background-color: #fff;
        border: none;
    }
}

.select {
    width: 40%;
    height: 35px;
    margin-top: 10px;
    background-color: #fff;
    border: none;
    text-indent: 1rem;
    color: gray;
}

.titulo_da_secao {
    font-size: 30px;
    font-weight: bold;
}

label {
    font-size: 15px;
    display: flex;
}

input {
    width: 50%;
    height: 30px;
    text-indent: 1rem;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.nome, .email, .telefone, .assunto, .mensage {
    margin: 1rem 0 0 1rem;
}

.textarea {
    width: 80%;
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
    border: none;
    resize:none;
}

.informacao_de_contato {


    & button {
        border: none;
        background-color: v.$h1;
        color: v.$linkNav;
        margin: 1rem;
        padding: .7rem;
        cursor: pointer;
        transition: .5s;
        border-radius: 5px;

        &:hover {
            opacity: .9;
            transition: .5s;
        }
    }
}

  
  /* Chrome e outros */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}