@mixin display_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin display_footer {
  display: flex;
  flex-direction: column;
}

@mixin login-container-fluid {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin acomodacoes-container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
