@use "variaveis" as v;

/* NAVBAR MENU RESPONSIVA*/
/* CHECKBOX HACK */
input[type="checkbox"] {
    display: none;
  }
  /*HAMBURGER MENU*/
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  /*ARROW ICON*/
  .arrow-icon {
    /* display: none; */
    font-size: 10px;
    user-select: none;
  }

  /* APLICAÇÃO MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: v.$navBackgroud;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    & li:hover {
      display: inline-block;
      background-color: v.$navBackgroudHover;
      transition: 0.3s ease;
    }
    & li + li {
      margin-top: 12px;
    }
  }

    input[type="checkbox"]:checked ~ .menu {
      display: block;
    }
    .hamburger {
      display: block;
    }
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
    .dropdown li:hover {
      background-color: #4c9e9e;
    }
}

/* BREAKPOINTS HOME */
@media (max-width: 700px) {
  .home {
    & h1 {
      font-size: 2.5rem;
    }
    & h3 {
      font-size: 1.5rem;
    }
  }
}

/* BREAKPOINTS CONHECA O HOTEL */
@media (max-width: 700px) {
  .conheca-o-hotel .grid li.small,
  .conheca-o-hotel .grid li.large {
    flex-basis: 100%;
  }
}

/* BREAKPOINTS CARACTRISTICAS */
@media (max-width: 700px) {
  .caracteristicas .grid {
    flex-direction: column;
  }
}

/* RESPONSIVIDADE CONTATOS */

@media (max-width: 1595px) {
  .contato {
    height: 75vh;


   & .informacao_de_contato {
      & button {
        margin-top: .3rem;
        padding: .5rem;
      }
    }

    
   & input {
      width: 50%;
      height: 10px;
      text-indent: 1rem;
    }
  }
}

@media (max-width: 1000px) {

  .main{
    margin-top: 8%;
    padding-left: 2%;
    & .contato {
      width: 100%;
      height:76vh;
  
     & .titulo_da_secao {
        font-size: 1rem;
      }
  
      & .info {
        & ul {
          & li {
            font-size: .8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .main {
    margin-top: 12%;
    height: 78vh;

      & .contato {        
        & .informacao_de_contato {
          width: 90%;
          & input {
            width: 90%;
          }
          & select {
            width: 90%;
          }
        }
      }
  }
}

@media (max-width: 912px) {
  .main {
    margin-top: 12%;
    height: 79vh;

      & .contato {        
        & .informacao_de_contato {
          width: 90%;
          & input {
            width: 90%;
          }
          & select {
            width: 90%;
          }
        }
      }
  }
}

@media (max-width: 768px) {
  .main {
    margin-top: 10%;
    height: 78vh;

      & .contato {        
        & .informacao_de_contato {
          width: 90%;
          & input {
            width: 90%;
          }
          & select {
            width: 90%;
          }
        }
      }
  }
}

@media (max-width: 710px) {
  .main {
    & .contato {
      width: 100%;
      height:76vh;
    }
  }
}

@media (max-width: 735px) {
  .main {
    display: flex;
    height: 150vh;
    
    & .contato {
      display: block;
      
      & .informacao_de_contato {
        width: 90%;

        & input {
          width: 90%;
        }

        & select {
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .main {
    height: 115vh;
  }
}

@media (max-width: 375px) {
  .main {
    height: 142vh;
  }
}

@media (max-width: 280px) {
  .main {
    height: 146vh;

    margin-top: 25%;
  }
}

/*RESPOSIVIDADE ACOMODACOES*/
@media (max-width:900px){
  .principal{
    margin-top: 9vh;
  }
  .container {
    flex-direction: column;
  }
  .quarto_destaque{
    width:70%;
  }
}