@use "mixins" as mx;

@media screen and (max-width: 1300px) {
    .nav {

        & .nav__navbar {
            & .nav__navlist {
                & .nav__item {
                    font-size: 1rem;
                }
            }
        }
    }

    .slogan {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1000px) {
    /* Responsividade Seção de contato */
    .nav {
        width: 100%;

        & .nav__navbar {
            & .nav__navlist {
                display: flex;
                flex-direction: column;
                width: 100%;
                & .nav__item {
                    font-size: 1rem;
                }
            }
        }
    }

    .slogan {
        font-size: 2rem;
    }

    .contato h2 {
        font-size: 50px;
    }
    
    .geral {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}

@media screen and (max-width: 820px) {
    .slogan {
        font-size: 1.5rem;
    }

    .beneficios {
        & .beneficios__title {
            font-size: 2rem;
        }
    }

    .contato h2 {
        font-size: 2rem;
    }

    .footer {
        & .title {
            font-size: 2rem;
        }
    }

    .links {
        width: 70%;
        margin: 5rem 0;
        display: flex;
    }

    i {
        font-size: 2rem !important;
    }

    .beneficios {
        &__item {
            width: 30%;
        }
    }
}

@media screen and (max-width: 375px) {
    
    .header {
        @include mx.container-fluid;
        width: 100%;
    }

    /* Responsividade Seção de contato */
    .contato {
        height: 100%;
    }

    .contato h2 {
        font-size: 30px;
    }

    .geral {
        width: 90%;
    }

    .nub {
        font-size: 20px;
    }
}