@use "variaveis" as v;
@use "header";
@use "footer";

/*SOBRE*/

// .sobreNosContainer {
// 	background-color: #E0E1DD;
// 	width: 100%;
// 	margin: 0 auto;
// }

.sobre__nos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* background-image: linear-gradient(
      rgba(0, 0, 0, 0.479),
      rgba(0, 170, 255, 0.075)
    ),
    url(../images/5451_ho_00_p_1024x768.jpg); */
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  color: v.$backgroud;

  & h1 {
    font-size: 3.5rem;
    margin-bottom: 15px;
    color: v.$backgroud;
  }

  & h3 {
    font-size: 2.2rem;
    margin-bottom: 50px;
    color: v.$linkNav;
  }
}

.lugares__hotel {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.lugares__titulo {
  font-size: 2rem;
  margin: 45px 0 35px 0;
  color: #0c1926;
  text-align: center;
}

.lugares__paragrafo {
  font-size: 1.2rem;
  max-width: 900px;
  margin-bottom: 35px;
  letter-spacing: 1px;
  color: v.$link;
  text-align: center;
}

.lugares__divisor {
  width: 500px;
  height: 2px;
  background-color: v.$link;
  margin-bottom: 2rem;
  border: none;
}

.lugares__gridImagens {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 45%;
  height: 300px;
  box-shadow: 8px 8px 10px #999;
  margin: 1rem;
  border-radius: 5px;
}

// MOBILE

@media (max-width: 415px) and (orientation: portrait) {
  .lugares__hotel {
    width: 90%;
  }

  .card {
    width: 100%;
  }

  .lugares__divisor {
    width: 25%;
  }
}

@media (max-width: 915px) and (orientation: landscape) {
  .lugares__hotel {
    width: 90%;
  }

  .card {
    width: 100%;
  }
}
