$fonte: "Inter", sans-serif;
$backgroud: #e0e1dd;
$navBackgroud: #415a77;
$navBackgroudHover: #516b8a;
$corFooter: #0c1926;
$link: #0c1926;
//Cabeçalhos
$h1: #0d1b2a;
$h2: #1b263b;
$h3: #1b263b;
//Paŕagrafos
$p: #25334a;
//links nav
$linkNav: #fff;

