@use "variaveis" as v;
@use "header";
@use "footer";

/* PÁGINA DE RESERVAS */

.reservaHero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  color: v.$navBackgroud;

  & h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
    color: v.$backgroud;
  }

  & h3 {
    font-size: 2rem;
    margin-bottom: 50px;
    color: v.$linkNav;
  }

  & .btn {
    background-color: v.$linkNav;
    border-radius: 4px;
    color: v.$link;
    padding: 20px 50px;
    text-transform: uppercase;
  }
}

.containerReserv {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__title {
  color: #0c1926;
  font-size: 2rem;
  margin: 45px 0 35px 0;
  text-align: center;
}

.form__infoReserva {
  color: #0c1926;
  margin-bottom: 35px;
  text-align: center;
  font-size: 1.2rem;
}

.divider {
  width: 200px;
  height: 2px;
  background-color: #0c1926;
  margin: 0 auto;
  border: none;
  text-align: center;
}

.form__date {
  display: flex;
  padding: 5rem 0 4rem 0;
  justify-content: space-evenly;
  align-items: flex-end;
  column-gap: 1rem;
}

.form__date label {
  padding: 0 0 1rem 0;
}

.form__date input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 0 0;
  outline: none;
  border: 1px solid #ccc;
}

.btnReservar {
  background-color: #0c1926;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: .9rem;
  cursor: pointer;
}

.reservContent {
  display: flex;
  justify-content: space-between;
}

.roomOptions__paragraph {
  position: relative;
  color: #0c1926;
  font-size: 2rem;
  margin: 45px 0 35px 0;
  text-align: left;
}

.roomOptions {
  margin-bottom: 3rem;
  width: 45%;

  &__room {
    background-color: #fff;
    border: 1px solid #415a77;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.07);
  }

  &__roomImagem {
    padding: 0 0 2rem 0;
    width: 100%;
  }

  &__roomTitle {
    padding: 0 0 1rem 1rem;
    color: #0c1926;
  }

  &__roomDescription {
    text-align: justify;
    padding: 0 1rem 1.7rem 1rem;
  }

  &__roomPrice {
    display: block;
    width: 10vw;
    background-color: #00ff00;
    text-align: center;
    padding: 1rem;
    margin: 0 0 0 1rem;
    color: #fff;
    font-weight: bold;
  }

  &__selectRoom {
    padding: 1rem;
  }

  &__selectRoom form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__selectRoom label {
    padding-left: 0.5rem;
  }
}

// MODAL SERVIÇOS ADICIONAIS
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 15rem;
  align-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  &__title {
    padding-bottom: 2rem;
    color: v.$navBackgroud;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
  }

  &__options label {
    font-size: 1.2rem;
    padding-left: 1rem;
    color: v.$navBackgroud;
    font-weight: bold;
  }
}

.dividerModal {
  margin: 1rem 0;
}

.totalServices {
  display: block;
  text-align: right;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.checkModal,
.roomOptions__roomRadioBtn {
  display: inline !important;
}

.resume {
  align-self: start;
  position: sticky;
  background: #415a77;
  color: #fff;
  top: 200px;
  width: 50%;
  margin-bottom: 5.1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.07);

  &__reserve {
    padding: 2rem;
  }

  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__item {
    font-size: 1rem;
    font-weight: bold;
    line-height: 2.5rem;
  }

  &__addServices {
    display: block;
    color: #fff;
    padding: 2rem 0;
    text-align: right;
  }

  &__continue {
    width: 100%;
    margin: 2rem 0 0 0;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    color: v.$navBackgroud;
    cursor: pointer;
  }
}

@media (max-width: 415px) and (orientation: portrait) {
  .reservaHero {
    padding: 0 0.5rem;
  }

  .containerReserv {
    width: 90%;
  }

  .form__date {
    flex-direction: column;
    padding: 3rem 0;
  }

  .form__date div {
    padding: 1rem 0;
  }

  .roomOptions__paragraph {
    margin: 0 0 35px 0;
    text-align: center;
  }

  .reservContent {
    flex-direction: column;
  }

  .roomOptions {
    margin: 0;
  }

  .roomOptions,
  .resume {
    width: 100%;
  }

  .roomOptions__roomPrice {
    width: 100%;
    margin: 0;
  }

  .resume {
    margin-bottom: 2rem;
  }

  .modal {
    padding-top: 7rem;
  }

  .modal-content {
    width: 90%;
  }
}

@media (max-width: 915px) and (orientation: landscape) {
  .reservaHero {
    padding: 0 0.5rem;
  }

  .containerReserv {
    width: 90%;
  }

  .form__date {
    flex-direction: column;
    padding: 3rem 0;
  }

  .form__date div {
    padding: 1rem 0;
  }

  .roomOptions__paragraph {
    margin: 0 0 35px 0;
    text-align: center;
  }

  .reservContent {
    flex-direction: column;
  }

  .roomOptions {
    margin: 0;
  }

  .roomOptions,
  .resume {
    width: 100%;
  }

  .roomOptions__roomPrice {
    width: 100%;
    margin: 0;
  }

  .resume {
    margin-bottom: 2rem;
  }

  .modal {
    padding-top: 4rem;
  }

  .modal-content {
    width: 90%;
  }
}

@media (max-width: 1025px) and (min-height: 1023px) and (orientation: portrait) {
  .roomOptions__roomPrice {
    margin: 0;
    width: 100%;
  }
}
