@charset "utf-8";
	.XMLID_1_
{
	background-image : url(XMLID_1_.png);
	background-repeat : no-repeat;
}
.Estilodecaracterenormal
{
	font-family : OptimusPrinceps;
	font-size : 104px;
	color : #000000;
	color : rgb(0, 0, 0);
}
